<ion-header>
  <ion-toolbar>
    <h1 style="width: 80%;">
      <span style="color: #c75f30;">Panda</span>
      <span style="color: #5f3d27;">pp List</span>
    </h1>
    <ion-button slot="end" (click)="viajarPerfil()">Perfil</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filtros-row">
    <ion-button (click)="filtrar()">Filtros</ion-button>
    <ion-button (click)="ordenar()">Ordenar</ion-button>
  </div>

  <!-- Boton para agregar una tarjeta nueva -->
  <div class="acciones-row">
    <ion-button class="btn-agregar" (click)="agregar()">+</ion-button>
  </div>

  <!-- Grid de tarjetas -->
  <ion-grid>
    <ion-row>
      <!-- Crear objeto tipo 'tarjetas'-->
      <!-- size="6" hace que cada columna ocupe 6 de los 12 espacios de una row-->
      <ion-col size="6" *ngFor="let tarjeta of tarjetas; let i = index">
        <ion-card>
          <!-- Header de la tarjeta con categoría e icono -->
          <div class="tarjeta-header">
            <!-- Toma el color de fondo del archivo .ts-->
            <span class="cat-insignia ion-text-center" [style.background]="tarjeta.colorCategoria">
              {{ tarjeta.categoria }}
            </span>
            <img 
            style="width: 4vw; aspect-ratio: 1 / 1.3;" 
            [src]="tarjeta.iconoPrio" 
            *ngIf="tarjeta.iconoPrio">
          </div>
          <!-- Imagen azul -->
          <div class="tarjeta-img" style="color: black">{{ tarjeta.descripcion }}</div>
          <!-- Info -->
          <ion-card-content>
            <p class="tarjeta-titulo">{{ tarjeta.titulo }}</p>
            <p>{{ tarjeta.fecha }}</p>
            <p>{{ tarjeta.hora }}</p>
            <div class="div-eliminar">
              <ion-button class="btn-eliminar" (click)="eliminar(i)">🗑️</ion-button>
            </div>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small">App desarrollada por Felipe Robles Gore</ion-title>
  </ion-toolbar>
</ion-footer>