<ion-header>
  <ion-toolbar>
    <h1 #tituloApi>
      <span style="color: #c75f30;">Panda</span>
      <span style="color: #5f3d27;">pp API</span>
    </h1>
    <ion-button slot="end" (click)="viajarTarjetas()">Tarjetas</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h2 class="ion-text-center">Nueva Tarea (API)</h2>

  <ion-list lines="none">
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-input fill="outline" [(ngModel)]="nuevaTarea.titulo" placeholder="Ingresa título"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input fill="outline" [(ngModel)]="nuevaTarea.descripcion" placeholder="Ingresa descripción"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Categoría</ion-label>
      <ion-input fill="outline" [(ngModel)]="nuevaTarea.categoria" placeholder="Ej: Deporte"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="agregarTarea()">Agregar Tarea</ion-button>

  <h2 class="ion-text-center" style="margin-top: 24px;">Tareas desde la API</h2>

  <ion-list>
    <ion-item *ngFor="let tarea of tareas">
      <ion-label>
        <h3>{{ tarea.titulo }}</h3>
        <p>{{ tarea.descripcion }}</p>
        <p>{{ tarea.categoria }}</p>
      </ion-label>
      <ion-button slot="end" color="danger" (click)="eliminarTarea(tarea.id)">
        🗑️
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small">App desarrollada por Felipe Robles Gore</ion-title>
  </ion-toolbar>
</ion-footer>