ion-content {
  --background: transparent;
}
capacitor-google-map {
  display: inline-block;
  width: 400px;
  height: 400px;
}

ion-button{
  --background: #4a7c59;
  --border-color: #4a7c59;
  margin-right: 2vw;
}