<div style="padding: 1.5vw;">
  <h1 class="titulo-responsive ion-text-center">
    <strong>¡Bienvenido!</strong>
  </h1>
  <div style="font-size: 4.5vw; display: flex; justify-content: space-between; align-items: center;">
    <span 
    style="color: #2e5c3a;">
    Usuario: {{ dataLogin?.user_name }}
    </span>
    <ion-button style="color: white; --background: red;" (click)="cerrarSesion()">Cerrar sesión</ion-button>
  </div>
  

  <h2 
    class="content-responsive ion-text-center" 
    style="margin-bottom: 2vh; margin-top: 6vh;">
    Información Adicional
  </h2>

  <ion-list lines="none">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input
        #inputNombre
        fill="outline"
        [(ngModel)]="userInfo.nombre"
        (ngModelChange)="capitalizar('nombre', $event)"
        placeholder="Ingresa tu Nombre"
        clearInput="true">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input
        #inputApellido
        fill="outline"
        [(ngModel)]="userInfo.apellido"
        (ngModelChange)="capitalizar('apellido', $event)"
        placeholder="Ingresa tu Apellido"
        clearInput="true">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nivel Educación</ion-label>
      <select
        class="input-educacion"
        [(ngModel)]="userInfo.nivelEd"
        placeholder="Seleccione Nivel">
        <option value="" disabled selected>Selecciona tu Nivel</option>
        <option value="basica">Básica</option>
        <option value="media">Media</option>
        <option value="tecnica">Técnica</option>
        <option value="universitaria">Universitaria</option>
      </select>
    </ion-item>

    <ion-item>
      <div class="fecha-padre">
        <ion-label>Fecha Nacimiento</ion-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Selecciona tu fecha"
          [(ngModel)]="userInfo.fechaNac"
          readonly>
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </ion-item>
  </ion-list>

  <div class="button-row">
    <ion-button fill="outline" (click)="limpiar()">Limpiar🧹</ion-button>
    <ion-button fill="outline" (click)="mostrar()">Mostrar❗</ion-button>
  </div>
    <div class="button-row">
    <ion-button fill="outline" (click)="guardarPerfil()">Guardar💾</ion-button>
  </div>
</div>