.hgroup-login {
  h1 {
    margin-top: 5vh;
    margin-bottom: 1vh; // o un valor pequeño como 4px
    font-size: clamp(1.5rem, 9vw + 1rem, 7rem);
    font-weight: bold;
    color:#2e5c3a;
    -webkit-text-stroke: 2px #5f3d27;
  }

  p {
    margin-top: 0;
    font-size: clamp(1rem, 1vw + 1rem, 6rem);
    color: #5f3d27;
  }
}

ion-content{
  --background: #f5e0d0;
}

img {
  width: 30%;    // porcentaje del contenedor
  height: auto;
  display: block;
  margin: 0 auto;
}

.bienvenido {
  margin-top: 0;
  color: #4a7c59;
  font-size: clamp(1.5rem, 5vw + 1rem, 6rem);
  margin-bottom: 3.5vh;
}

.label-input-div {
  width: 100%;
  display: flex;
  flex-direction: column;

  ion-label {
    font-size: clamp(1rem, 2.7vw + 0.2rem, 6rem);
    font-weight: bold;
    margin-left: 10%;
    margin-bottom: 0.8vh;
    color: #2e5c3a;
  }

  ion-input {
    --background: #edf7f0;
    width: 80%;
    font-size: clamp(1rem, 2.7vw + 0.2rem, 6rem);
    color: black;
    --placeholder-color: #4a7c59;
    --placeholder-opacity: 1;
    --highlight-color-valid: #2e5c3a;
    margin-bottom: 3vh;
    margin-left: 10%;
  }
}

.button-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  width: 100%;
  row-gap: 2vh;

  // Botón con borde afilado, sombra y texto responsive
  ion-button {
    width: 90%;
    color: white;
    --background: #4a7c59;
    --border-color: #4a7c59;
    font-size: clamp(1rem, 2.5vw + 0.5rem, 6rem);
    font-weight: bold;
    --border-radius: 5px;
    // offset x, offset y, blur, color de la sombra
    --box-shadow: 0.5vw 1vw 2px #2e5c3a;
  }
}

.crea-cuenta {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: clamp(1rem, 1vw + 0.5rem, 6rem);
    color: #4a7c59;
  }

  a {
    text-decoration: underline;
    font-size: clamp(1rem, 1vw + 0.5rem, 6rem);
    color: #5f3d27;
  }
}
