<ion-header>
  <ion-toolbar>
    <h1 #tituloHome>
      <span style="color: #c75f30;">Panda</span>
      <span style="color: #5f3d27;">pp List</span>
    </h1>
    <ion-button slot="end" (click)="viajarTarjetas()">Tarjetas</ion-button>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-segment [(ngModel)]="segmentActivo" value="misDatos">
    <ion-segment-button value="misDatos">
      <ion-icon name="information-circle"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="experiencia">
      <ion-icon name="business"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="certificaciones">
      <ion-icon name="newspaper"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content>
  
  <app-mis-datos
  *ngIf="segmentActivo === 'misDatos'"   
  [dataLogin]="dataLogin">
  </app-mis-datos>

  <app-experiencia-laboral
    *ngIf="segmentActivo === 'experiencia'"
    [dataLogin]="dataLogin">
  </app-experiencia-laboral>

  <app-certificaciones
    *ngIf="segmentActivo === 'certificaciones'">
  </app-certificaciones>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small">App desarrollada por Felipe Robles Gore</ion-title>
  </ion-toolbar>
</ion-footer>