<ion-header>
  <ion-toolbar>
    <h1>SkeletonAPP</h1>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>
    <h1 class="titulo-responsive ion-text-center"><strong>¡Bienvenido!</strong></h1>
    <p style="font-size:4.5vw;">Usuario: {{ dataLogin.usuario | titlecase }}</p>
  </div>

  <h2 class="content-responsive ion-text-center" style="margin-bottom: 2vh; margin-top: 6vh;">Información Adicional</h2>

  <ion-list>

    <ion-item>
      <ion-label class="label-texto">Nombre</ion-label>
      <ion-input
        class="input-texto" 
        [(ngModel)]="userInfo.nombre"
        placeholder="Ingrese Nombre"
        clearInput="true">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label-texto">Apellido</ion-label>
      <ion-input
        class="input-texto" 
        [(ngModel)]="userInfo.apellido"
        placeholder="Ingrese Apellido"
        clearInput="true">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label-texto">Nivel Educación</ion-label>
      <ion-select 
        class="input-texto"
        [(ngModel)]="userInfo.nivelEd" 
        placeholder="Seleccione Nivel">
          <ion-select-option value="basica">Básica</ion-select-option>
          <ion-select-option value="media">Media</ion-select-option>
          <ion-select-option value="tecnica">Técnica</ion-select-option>
          <ion-select-option value="universitaria">Universitaria</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="label-texto">Fecha Nacimiento</ion-label>
      <ion-input
        class="input-fecha"
        position="fixed" 
        [(ngModel)]="userInfo.fechaNac"
        type="date">
      </ion-input>
    </ion-item>
  </ion-list>

  <div class="button-row">
    <ion-button fill="outline" (click)="limpiar()">
      Limpiar
    </ion-button>
    <ion-button fill="outline" (click)="mostrar()">
      Mostrar
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small">App desarrollada por Felipe Robles Gore</ion-title>
  </ion-toolbar>
</ion-footer>